<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666492706576-emsc3v0rfh2vbpdi5as9tvfi46f47t1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666492706576-emsc3v0rfh2vbpdi5as9tvfi46f47t1h</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JYUPjAjfzxDY_zAYd7zArFSgHRKvPOY</string>
	<key>GCM_SENDER_ID</key>
	<string>666492706576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-b3b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-b3b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666492706576:ios:2bb9a151c34dbdc1cc8f95</string>
</dict>
</plist>